{% extends 'jam_vote/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet"  href="{% static 'jam_vote/index.css' %}">
 
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="title">
        <h1>Realjam</h1>
    </div>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for question in question_list %}
            <div class="col">
                <div class="card border border-primary shadow-0 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.title }}</h5>
                        <a type="button"
                        class="btn btn-primary"
                        href="{% url 'jam_vote:answer' question.pk %}">投票する</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="card card-rem">

        <a href="{% url 'jam_vote:make' %}"
        class="btn btn-primary">投票を作る</a>
        <a href="/admin"
        target="_blank"
        class="btn btn-secondary">管理画面に飛ぶ</a>
    </div>

    
    {% endblock %}