{% extends 'jam_vote/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-9">
        <h2>Post登録・更新</h2>
        <br>

        <form action="" method="post"　enctype='multipart/form-data'>
            {% csrf_token %}　
            <div class="form-group">
                <label>タイトル</label>
                {{ form.title }}
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
            <br><br>
        </form>
        
    </div>
</div>

{% endblock %}